@use "tailwindcss";

html,
body {
    @apply h-full;
}

body {
    @apply m-0;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

h1 {
    @apply text-7xl;
}

h1,
h2,
h3 {
    @apply font-bold;
}